@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}

body{
    padding: 2rem 1rem;
}

.our-works{
    display: grid;
    grid-template-columns: 1fr;
}

.our-works h1{
    text-align: center;
    margin-bottom: 3rem;
    background-color: rgb(1, 175, 65);
    color: white;
    border-radius: 10px;
    padding: 0.5rem;

}

.container-of-projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    height: 100vh;
}

.demo-1{
    display: block;
    margin: auto;
    box-shadow: 0px 0px 6px 0px;
    width: min-content;
    padding: 2rem;
    border-radius: 10px;
}

.demo-1 h3{
    padding-bottom: 2rem;
    color: rgb(1, 175, 65);
}

.demo-1 img{
    width: 600px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.demo-1 a{
    background-color:rgb(1, 175, 65);
    padding: 0.5rem 2rem;
    border-radius: 10px ;
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.demo-1 img:hover{
   scale: 1.06;
   filter: drop-shadow(0px 0px 4px);
}

@media(width <= 768px){

    .demo-1 {
        padding: 1rem;
    }

    .demo-1 img{
        width: 70vw;
    }

    .demo-1 a{
        padding: 0.4rem 0.7rem;
        font-weight: 400;
        border-radius: 5px;

    }

    .container-of-projects{
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        height: 100vh;
        padding-top: 4rem;
    }

    .our-works h1{
        margin-bottom: 0rem;
    }
}


@media (width <= 500px) {
    .demo-1 a{
        font-size: 0.9rem;
    }
}